@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
 <h1>Mis proyectos</h1>
 <p>Aqui escontraras mis proyectos en lo que he trabajado</p>


<partial name="_ListadoProyectos" model="Model" />

</div>